<div class="row">
  <div class="insights">
      <div class="tabs"
      (click)="current='insights'"  
      [routerLink]="['Insights']"
      [ngClass]='{active:current==="insights"}'>
          Insights
      </div>
    </div>
  <div class="stories">
      <div class="tabs"     
          (click)="current='stories'"          
          [routerLink]="['Stories']"
          [ngClass]='{active:current==="stories"}'>
          Stories
      </div>
    </div>
</div>
<router-outlet > </router-outlet>


