.row{
    margin: 0px;
    font-family: EngraversGothic BT;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16);
    height: 65px;
}
.tabs{
    margin:2px;
    padding: 20px;
    padding-right: 5vw;
    padding-left: 5vw;
    cursor: pointer;
    /* border: 1px 1px 0px solid rgb(172, 168, 168); */
    border-radius: none;    
}
.active{
    background-color: rgba(216, 208, 208,0.1);
    outline: none;
    outline-color: white;
   
 
}
.tabs:hover {
    background-color: rgba(216, 208, 208,0.1);
    outline-color: white;
}