.row{
    margin: 0px;
    font-family: EngraversGothic BT;
}
.tabs{
    margin:2px;
    padding: 20px;
    padding-right: 5vw;
    padding-left: 5vw;
    /* border: 1px 1px 0px solid rgb(172, 168, 168); */
    border-radius: 10px;    
}
.active{
    border-bottom: 2px solid rgb(216, 208, 208);
 
}
.tabs:hover {
    background-color: rgb(216, 208, 208);
}