.row{
    margin: 0px;
    font-family: EngraversGothic BT;
}
.tabs{
    margin:2px;
    padding: 20px;
    padding-right: 5vw;
    padding-left: 5vw;
    cursor: pointer;
    /* border: 1px 1px 0px solid rgb(172, 168, 168); */
    border-radius: 10px;    
}
.active{
    border-bottom: 2px solid rgba(216, 208, 208,0.5);
    outline: none;
 
}
.tabs:hover {
    background-color: rgba(216, 208, 208,0.1);
}