<div class="row">
  <div class="insights">
      <div class="tabs"
      (click)="current='insights'"  
      [routerLink]="['Insights']"
      [ngClass]='{active:current==="insights"}'>
          Insights
      </div>
    </div>
  <div class="resources">
      <div class="tabs"     
          (click)="current='resources'"          
          [routerLink]="['Resources']"
          [ngClass]='{active:current==="resources"}'>
          Resources
      </div>
    </div>
</div>
<router-outlet></router-outlet>


