<div class="full">
  <div class="wrapper">
    <form>
       <div class="username">
          <div> USER NAME</div>
          <input type="text" id="username" required>
       </div>
       <div class="password">
          <div><label>PASSWORD</label> <span>FORGET?</span></div>
          <input type="password" id="password" required>
       </div>
       <div class="btn">
          <button id="Facebook">Sign In Using Facebook</button>   
          <div>OR</div>
          <button id="SignIn">Sign in</button>
       </div>
    
    </form>
  </div>
</div>