<div class="header-wrapper" >

  <div class="flex-items logo-div" (click)="goToHomePage()" >
    <div class="edbird-logo" (click)="click_close()">
    <img width="45vw" src="/../../assets/images/logo.svg"  class=" img-responsive">
</div>
</div>

  <div class="flex-items menu-div"> 
    
   <div class="menu-wrapper">
    <ul class="side-menu" id={{side_menu_class}}>
            
 <li class="side-menu-group">
     <div class=" side-menu-group-title" (click)="goToDesign()" (click)="click_close()"> 
       <a class="side-menu-item">
       <span class="side-menu-item-label">DESIGNING </span></a>
     </div>
   </li>
   <li class="side-menu-group"  (click)="goToTat()" (click)="click_close()">
       <div class=" side-menu-group-title">
           <a class="side-menu-item">
           <span class="side-menu-item-label">TATTOO ART</span></a>
         </div>
   </li>
   <li class="side-menu-group">
       <div class="side-menu-group-title" (click)="goToPhotography()" (click)="click_close()">
           <a class="side-menu-item">
           <span class="side-menu-item-label">PHOTOGRAPHY</span></a>
         </div>
   </li>

   <li class="side-menu-group">
    <div class="side-menu-group-title"(click)="goToAnimation()" (click)="click_close()">
        <a class="side-menu-item">
        <span class="side-menu-item-label ">ANIMATION</span></a>
      </div>
    
    <li class="side-menu-group">
        <div class="side-menu-group-title" (click)="contact_us()" (click)="click_close()">
            <a class="side-menu-item">
            <span class="side-menu-item-label ">CONTACT US</span></a>
          </div>
</li>
 </ul>

<div class="collapsed-menu" (click)="click_status()">
    <span  class={{menu_icon_class}} >
      <span></span>   
      <span></span>   
      <span></span> 
      <span></span>    
    </span>

    <span class="menu-text">{{menu_status}}</span>

<div class="menu-content">
    <ul>
        <li (click)="goToDesign()" >DESIGNING</li>
        <li (click)="goToTat()" >TATTOO ART</li>
        <li (click)="goToPhotography()" >PHOTOGRAPHY</li>
        <li (click)="goToAnimation()">ANIMATION</li>
        
    </ul>
</div>
</div>  
</div>
  </div>
  <div class="flex-items sign-in-div"  (click)="dispFunc()"  (click)="click_close()">
      <div class="sign-in">
          <span class="sign-in-text">Sign In</span>
      </div>
      
  </div>
  
</div>

<div class="back_blur" *ngIf="click_contact">
        <main role="main">
                <div class="new-request-section">
                      <h3 class="page-header">
                         Contact Us
                      </h3>
                           
                  <div class="form">
                        <div class="requestor_subject" style="margin-bottom:20px">
                                <label for="requestor_subject">Your name</label>
                                <input type="text"  id="requestor_subject_input">
                            </div>

                         <div class="requestor_email_address" >
                             <label for="requestor_email_address">Your email address</label>
                             <input type="text" name="requestor_email_address" id="requestor_email_address" style="margin-bottom:20px">
                             </div>
                             <div class="requestor_email_address">
                                    <label for="requestor_email_address">Your Contact number</label>
                                    <input type="number" name="requestor_email_address" id="requestor_email_address" style="margin-bottom:20px">
                                    </div>
                             <div class="requestor_question_about">
                                    <label for="requestor_question_about ">question about...</label>
                                    <select style="margin-bottom:20px"> 
                                        <option>-</option>
                                        <option>option effect</option>
                                        <option>option effect</option>
                                        <option>option effect</option>
                                        <option>option effect</option>
                                    </select>
                                </div>
                          
                          <div class="form-field text  required  request_description">
                             <label for="request_description">Description</label>
                             <textarea name="request_description" id="request_description" style="margin-bottom:20px"></textarea>
                             
                             
                               <p>Please enter the details of your request. A member of our support staff will respond as soon as possible.</p>
                             
                           </div>
                           
                      <footer><input type="submit" name="commit" value="Submit" id="commit" (click)="contact_us()"></footer>
                  </div>
                 </div>
             
             </main>
</div>

