

.header-wrapper{
    border-bottom: 1px solid rgba(177, 141, 141, 0.29);
    padding: 0px 50px;
    max-width: none;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    font-family: EngraversGothic BT;
    box-shadow: 0 1px 3px rgba(0,0,0,.08);

}
.edbird-logo{
    cursor: pointer;
}

.header-wrapper,.flex-items{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 90px;    
}

.logo-div{
    order: 1;
    width: 60px;
    
}

.menu-div{
    margin-left: 50px;
    flex-grow: 10;
    order: 2;
}

.sign-in-div{
    justify-content: center;
    order: 3;
    cursor: pointer;
    width: 20%;
    margin-right: auto;
    
}

 /*------------------media screen 480 px --------------------*/

@media only screen and (max-width: 480px){
    .header-wrapper{
        padding: 0px 0px;
    }
    .header-wrapper,.flex-items{
        height: 65px;
        justify-content: center;
    
    }
    .logo-div{
        order: 2;
        width: 20%;
        margin-left: 20%;
        margin-right: 20%;

    }
    .menu-div{
        order: 1;
        width: 20%;
        margin-left: 0px;
    }

}

 /*------------------media screen 1080 px --------------------*/

 @media only screen and (max-width: 1080px){
    
    
}


/*--------------------LOGO CODE GOES HERE -----------------*/

/*--------------------MENU CODE GOES HERE ---------------*/


.collapsed-menu{ 
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-icon, .nav-icon{ 
    height: 18px;
    width: 23px;
    position: relative;
    align-items: center;
}

.menu-icon span,.nav-icon span{
    display: block;
    position: absolute;
    width: 23px;
    height: 1px;
    border-radius: 1px;
    background-color:#333333; 
    
}
.menu-icon span:nth-child(1){
    top: 0px;  
    transition: .2s ease-in-out;

}
.menu-icon span:nth-child(2){
    top: 8px; 
    transition: 0.2s ease-in-out;
    
}
.menu-icon span:nth-child(3){
    top: 8px;
    transition: .2s ease-in-out;
    
}
.menu-icon span:nth-child(4){
    top: 16px; 
    transition: 0.2s ease-in-out;
    
}
 .nav-icon span:nth-child(1){
     display: none;
    transform: translateY(8px);
    
}
.nav-icon span:nth-child(2){
    top: 8px;
    transform: rotate(45deg);
    transition: .2s ease-in-out;
}
.nav-icon span:nth-child(3){
    top: 8px;
    transform: rotate(-45deg);
    transition: .2s ease-in-out; 
}
.nav-icon span:nth-child(4){
    transform: translateY(8px);
    display: none;
    transition: .2s ease-in-out; 
}

.menu-text{
    font-size: 14px;
    margin-left: 15px;
}
.menu-content{
    display: none;
}
ul{display: flex;
  
}
li{
    float: left;
    list-style-type: none;
    font-size: 20px;
    padding-right: 30px;
}


/*-------------------  media screen 480 px ---------------------*/


@media only screen and (max-width: 480px){
    .menu-text{
        display: none;
       }
       .collapsed-menu:hover .close-text{
        display: none;
        cursor: pointer;
        
    }
   .collapsed-menu{
       width: 100%;
        cursor: pointer;
       justify-content: center;
       margin-left: 0px;
   } 
}



/*  media screen less then 1080   */

@media only screen and (min-width: 1080px)
{
.menu-content{
display: inline;
}
.menu-text{
    display: none;

}
.collapsed-menu:hover .close-text{
    display: none;
}

.menu-icon{
    display: none;
}

}

.side-menu{
    padding: 0px;
    z-index: 300;
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style-type: none;
    box-sizing: border-box;
    top: 65px;
    background-color: white;
    width: 100vw;
    height:100vh;
    left: -100vw;
}
.side-menu-group{
        position: static;
        float: none;
    border-bottom: 1px solid #dddddd;
}

.side-menu-group:nth-child(1){
    border-top: 10px solid #EEEEEE;
}
.side-menu-group-title{
    display: block;
    padding: 0px 40px;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

#side-menu-show{
    animation-name: side-bar;
    animation-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes side-bar{
    0%{ }
   100%{left:0vw;}
}
#side-menu-hide{
    animation-name: side-bar-close;
    animation-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes side-bar-close{
    0%{left: 0vw;}
   100%{left:-100vw;}
}


@media only screen and (min-width: 480px){
    .side-menu{
    top: 90px;
    width: 300px;
    }
    
}
@media only screen and (min-width: 1080px){
    .side-menu{
        display: none;
    }
    .menu-icon,.nav-icon{
        display: none;
    }
}

.back_blur {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000050;
   background-color: white;
   display: block;
     position: fixed;
     overflow: scroll;
}

.alert_back_blur {
    top: 25%;
    left: 0;
    width: 100%;
    height: 25%;
    z-index: 10000050;
   background-color: white;
   display: block;
     position: fixed;
     overflow: scroll;
}
/*------------------contact us code ------------------------*/
div{
    display: block;
}
.contact_us_form{
    width: 60%;
    margin: 0 auto;
    max-width: 500px;
    display: block;
    font-family: EngraversGothic BT;
}
@media only screen and (max-width: 480px){
    .contact_us_form{
        width: 80%;
    }
}
.page-header {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EEE;
    font-size: 28px;
}
h3 {
    line-height: 1.2em;
}
.requestor_name{
    margin-top: 20px;
    margin-bottom: 20px;
 }
label {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 18px;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
label:after {
    content: "*";
    color: red;
    margin-left: 2px;
}
input,#commit{
    width: 100%;
    padding: 5px 5px;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    border: 1px solid #DDDDDD;
    

}
#requestor_name{
    width: 100%;
    padding: 5px 5px;
}
#request_description{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #DDDDDD;
    

}
p{
    width: 100%;
    color: #999999;
    font-size: 15px;    
}
select{
    width: 100%;
    height: 35px;
    padding: 5px 5px;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius:0px; 
}
.contact_us_submit{
    border-top: 1px solid #EEE;
    margin-top: 20px;
    padding-top: 30px;
    
    
}
#commit{
    text-transform: uppercase;

    font-family: EngraversGothic BT;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 30px;
}
input:focus{
    outline: .1px solid #333333;
}
select:focus{
    outline: .1px solid #333333;
}
