

.collapsed-menu{ 
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-icon, .nav-icon{ 
    height: 18px;
    width: 23px;
    position: relative;
    align-items: center;
}

.menu-icon span,.nav-icon span{
    display: block;
    position: absolute;
    width: 23px;
    height: 1px;
    border-radius: 1px;
    background-color:#333333; 
    
}
.menu-icon span:nth-child(1){
    top: 0px;  
    transition: .2s ease-in-out;

}
.menu-icon span:nth-child(2){
    top: 8px; 
    transition: 0.2s ease-in-out;
    
}
.menu-icon span:nth-child(3){
    top: 8px;
    transition: .2s ease-in-out;
    
}
.menu-icon span:nth-child(4){
    top: 16px; 
    transition: 0.2s ease-in-out;
    
}
 .nav-icon span:nth-child(1){
     display: none;
    transform: translateY(8px);
    
}
.nav-icon span:nth-child(2){
    top: 8px;
    transform: rotate(45deg);
    transition: .2s ease-in-out;
}
.nav-icon span:nth-child(3){
    top: 8px;
    transform: rotate(-45deg);
    transition: .2s ease-in-out; 
}
.nav-icon span:nth-child(4){
    transform: translateY(8px);
    display: none;
    transition: .2s ease-in-out; 
}

.menu-text{
    font-size: 14px;
    margin-left: 15px;
}
.menu-content{
    display: none;
}
ul{display: flex;
  
}
li{
    float: left;
    list-style-type: none;
    font-size: 20px;
    padding-right: 30px;
}


/*-------------------  media screen 480 px ---------------------*/


@media only screen and (max-width: 480px){
    .menu-text{
        display: none;
       }
       .collapsed-menu:hover .close-text{
        display: none;
    }
   .collapsed-menu{
       width: 100%;

       justify-content: center;
       margin-left: 0px;
   } 
}



/*  media screen less then 1080   */

@media only screen and (min-width: 1080px)
{
.menu-content{
display: inline;
}
.menu-text{
    display: none;

}
.collapsed-menu:hover .close-text{
    display: none;
}

.menu-icon{
    display: none;
}

}

.side-menu{
    z-index: 300;
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style-type: none;
    box-sizing: border-box;
    top: 65px;
    background-color: white;
    border: 1px solid #DDDDDD;
    width: 100vw;
    height:100vh;
    left: -100vw;
}

#side-menu-show{
    animation-name: side-bar;
    animation-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes side-bar{
    0%{ }
   100%{left:0vw;}
}
#side-menu-hide{
    animation-name: side-bar-close;
    animation-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes side-bar-close{
    0%{left: 0vw;}
   100%{left:-100vw;}
}


@media only screen and (min-width: 480px){
    .side-menu{
    top: 90px;
    width: 300px;
    }
    
}
@media only screen and (min-width: 1080px){
    .side-menu{
        display: none;
    }
    .menu-icon,.nav-icon{
        display: none;
    }
}