
<div id="insight-box">
  <div id="catalogue-header">
    <span><img src={{insightItem.content_image}} alt="#" id="channel-image"></span>
    <span routerLink='/professionals/{{insightItem.author_name|transform|lowercase}}' style="cursor:pointer" ><strong>{{insightItem.author_name}}</strong></span>
  </div>
  <div>
    <img  src="https://firebasestorage.googleapis.com/v0/b/edbird-56c2c.appspot.com/o/Meteor-Shower-e1470882200534-777x437.jpg?alt=media&token=629c5fa5-c0d6-4116-9f8f-d16880db63e4" alt="#" id="insight-image">
  </div>
  <div id="media-text">
    <div class="heading">
      <h3 [innerHTML]=insightItem.content_heading></h3>
    </div>
    <div>
      <p>
        {{insightItem.content_description}}
      </p>
    </div>
    <div id="links">
      <span><a routerLink='/{{insightItem.content_heading|transform}}' >Continue reading</a></span> . 11 min read
    </div> 
  </div>
</div>
