
<div id="story-box">
  <div id="story-title">
     <h1 class="story-heading">HOW TO CHOOSE A CAREER IF YOU ARE NOT GOOD AT STUDIES?</h1>
  </div>
   <div id="story-desc-c">
    <div>
      <p class="story-dec">
      </p>
    </div>
    <div class="story-author">
      <div><h4>
        Author
      </h4>
    </div>
      <div class="story-image">
        <img src="http://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg" alt="image">
      </div>
    </div>
    <div id="links">
      <span><a routerLink='' >Continue reading</a></span> . 11 min read
    </div> 
  </div>
</div>
