<!--The content below is only a placeholder and can be replaced.-->
<div class="modalcontainer" [ngClass]="{'show': display==true,'hide':display==false}" >
  <div class="mainmodal">
    <button class="close" (click)="display=false" >X</button>    
      <div class="mainform">
      <form>
         <div class="username">
            <div> USER NAME</div>
            <input type="text" id="username" required>
         </div>
         <div class="password">
            <div><label>PASSWORD</label> <span>FORGET?</span></div>
            <input type="password" id="password" required>
         </div>
         <div class="btn">
            <button id="Facebook">Sign In Using Facebook</button>   
            <div>OR</div>
            <button id="SignIn">Sign in</button>
         </div>
      </form>
    </div>
    </div>
  </div>
<div class="main" [ngStyle]="{'opacity:0.8':display==true}" >
  <app-header (dispEvent)="SignInPopUp($event)"></app-header>
    <router-outlet></router-outlet>
  <app-footer></app-footer>  
</div>

