/* sign in show hide pop up */
.show{
    display: block;
}
.hide{
    display: none;
}


div{
    display: block;
}
input:focus{
    outline: .1px solid #333333;
}
.background-blur {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    overflow: hidden;
    position: fixed;
    background: #333333;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/*------------MAIN MODAL------------*/
.modal-container{
    overflow: hidden;
    font-family:  EngraversGothic BT, serif;
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0 8px;
    box-sizing: border-box;
    z-index: 1000001;
    position: fixed !important;
    top: 0 !important;
    bottom: 0;
    }
    @media only screen and (min-width: 769px){
    .modal-container:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    }
    @media only screen and (max-width: 768px){
        .modal-container{
            padding: 0px;
        }
    }

    /*-------------MAIN SIGN IN ---------*/
.main-modal{  
    font-family:  EngraversGothic BT, serif;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        text-align: left;
        z-index: 1045;
        background: #FFFFFF;
        padding: 0;
    }
    @media only screen and (min-width: 769px)
  {
     .main-modal {
        width: 600px;
        padding: 30px;
    }
}
@media only screen and (max-width: 768px)
{
   .main-modal {
       width: 100%;
       padding: 20px 10px;
   }
}
/*-----------------sign-in-for better experience--------*/
.dek-one {
    font-family:  serif;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    text-transform: none;
}

/*-------------auth-form------------------*/
.auth-form {
    margin: 0 auto;
}
@media only screen and (min-width: 481px){
    .auth-form {
        width: 365px;
    }
}
.login-form{
    display: block;
    margin-top: 10px;
}

/*-----------------form style--------------*/

.input-wrapper {
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
}
label{
    font-family: EngraversGothic BT, serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 18px;
    display: block;
    margin-bottom: 7px;
}
input{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    text-transform: none;
    line-height: 30px;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #DDDDDD;
    font-weight: 300;
    display: block;
    width: 100%;
    height: 44px;
}
.forgot-password {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
    line-height: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid currentColor;
}
.btn{
font-family: EngraversGothic BT, serif;
box-sizing: border-box;
display: inline-block;
border: none;
cursor: pointer;
outline: none;
text-align: center;
white-space: nowrap;
font-weight: 300;
letter-spacing: 2px;
line-height: 43px;
height: 44px;
padding: 0 30px;
text-transform: uppercase;
width: 100%;
border: none;
border-radius: 0px;
color: white;
}
.sign-in-btn,.sign-up-btn{
background: black;
}
.fb{
    background: #3b5998;
}
.social-login-separator {
    margin-bottom: 20px;
    border-bottom: 1px solid #F7F7F7;
}
.social-login-separator p {
    text-align: center;
    width: 40px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    font-size: 11px;
    color: #333333;
    background: #FFFFFF;
}
.switch-link_sign_up,.switch-link_sign_in{
    font-family: EngraversGothic BT, serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
    line-height: 100%;
    padding-bottom: 2px; 
    margin-top: 10px;
    text-align: center;
    display: block;
}
.sign_up_link,.sign_in_link{
    margin: auto;
    border-bottom: 1px solid currentColor;  
    cursor: pointer; 
}
/*-------------------close---------------*/
.close{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    /* color: #333333; */
    font-size: 28px;
}
.close span {
    display: block;
    position: absolute;
    background: #555555;
   
   margin-top: 17.67px;
    width: 25px;
    height: 1px;
}
.close:hover span{
    background: #000000;
}
.close span:nth-child(1){
    transform: rotate(45deg);
}

.close span:nth-child(2){
    transform: rotate(-45deg);
}
/* -----------changes for overflow and nav bar ----------*/
.main{
    height: 100vh;
    display: block;
    overflow-x: hidden;
}

.main-overflow{
    overflow: hidden; 
}
.app_header{
    height: 90px;
    display: block;
    position: relative;
}
@media only screen and (max-width: 480px){
    .app_header{
        height: 65px;
    }
}