<!--The content below is only a placeholder and can be replaced.-->
<div class="background-blur" *ngIf="display"></div>
<div class="modal-container" [ngClass]="{'show': display==true,'hide':display==false}" >
  <div class="main-modal">  
      <div class="auth-form">
          <div class="dek-one title-field">
              <span>Sign in for a better experience</span>
          </div>
      <form class="login-form" (ngSubmit)="onsignin(f)" #f = "ngForm">
          <div class="input-wrapper email_address ">
             <label for="email_address">Email Address</label>  
             <input type="email" id="email_address" name="email_address" value="" ngModel>
          </div>

          <div class="input-wrapper password ">
              <span class="forgot-password">
                Forgot?
              </span>
              <label for="password">Password </label>
              <input type="password" id="password" name="password" ngModel>
            </div>
            <button class="btn sign-in-btn"  id="SignIn" type="submit" [disabled]="!f.valid">Sign in</button>
            
        </form>

        <div class="social-login-separator">
          <p class="title">OR</p>
            </div>
                <button class="btn fb" (click)="facebook_login()" id="Facebook">Sign In Using Facebook</button>      
            </div>
      <div class="close" (click)="display=false" >
      <span></span>
      <span></span>
      
    </div>    
    </div>
  </div>
<div class="main" [ngClass]="{'main-overflow': display==true}" >
  <app-header class="app_header" (dispEvent)="SignInPopUp($event)"></app-header>
  <app-body></app-body>
  <app-footer></app-footer>  
</div>
