<!--The content below is only a placeholder and can be replaced.-->
<div class="background-blur" *ngIf="display"></div>
<div class="modal-container" [ngClass]="{'show': display==true,'hide':display==false}" >
  <div class="main-modal">  
      <div class="auth-form">
          <div class="dek-one title-field">
              <span>Sign in for a better experience</span>
          </div>
      <form class="login-form">
          <div class="input-wrapper username ">
             <label for="username">Email Address</label>  
             <input type="email" id="username" name="username" value="">
          </div>

          <div class="input-wrapper password ">
              <span class="forgot-password">
                Forgot?
              </span>
              <label for="password">Password</label>
              <input type="password" id="password" name="password">
            </div>
            <button class="btn sign-in-btn" id="SignIn">Sign in</button>
        </form>

        <div class="social-login-separator">
          <p class="title">OR</p>
        </div>
            <button class="btn fb" id="Facebook">Sign In Using Facebook</button>      
    </div>
  
    <div class="close" (click)="display=false" >
      <span></span>
      <span></span>
      
    </div>    
    </div>
  </div>
<div class="main"  >
  <app-header (dispEvent)="SignInPopUp($event)"></app-header>
    <router-outlet></router-outlet>
  <app-footer></app-footer>  
</div>

