<style type="text/css"> 
  img{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    }</style>
  
   <!-- (click)="fieldname=category.name" (click)="getdata()"  -->
    <div class="item-box"  >
      <img src={{category.image}} alt="image">
      <div class="wrapper"  >
        
      <div class="title">
        <span style="font-size:30px">
          "
        </span>
        {{category.quote}}
        <span style="font-size:30px">
            "
          </span>
      </div>

      <div class="category">
        {{category.name}}
      </div>
    </div>
  </div>